@model List<Task1.Models.Entity.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a herf="/product/create" class="btn btn-primary">Add Product</a>
<table class="table table-bordered">
    <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.ProductId</td>
            <td>@p.ProductName</td>
            <td>@p.Price</td>
            <td>@p.Quantity</td>
            <td>@p.Description</td>
            <td>
                <a herf="/Product/Update?id=@p.ProductId" class="btn btn-info">Update Product</a>
                <a herf="/Product/Delete?id=@p.ProductId" class="btn btn-danger">Delete Product</a>
                <a herf="/Product/ViewInfo?id=@p.ProductId" class="btn btn-success">View Information</a>
            </td>
        </tr>
    }
</table>