@model Task1.Models.Entity.Product
@{
    ViewBag.Title = "ViewInfo";
}

<h2>View Prodect Information</h2>

<p>ProductId: @Model.ProductId</p>
<p>ProductName: @Model.ProductName</p>
<p>Price: @Model.Price</p>
<p>Quantity: @Model.Quantity</p>
<p>Description: @Model.Description</p>